/*Menu de Inicio*/

body {
    background-color: white;
    color: black;
}

.carousel-item {
    height: 450px;
}


/*Menu de Productos*/

.card img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
    height: 200px; /* Ajusta la altura de la imagen para que sea uniforme */
    object-fit: cover; /* Recorta la imagen sin deformarla */
    border-top-left-radius: 10px; /* Opcional: redondea esquinas si es necesario */
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-title {
    background-color: #cbc5c5;
}

.boton-productos {
    width: 150px;
    text-align: center;
    margin: auto;
}



/*Menu sobre nosotros*/

.sobrenosotros {
    text-align: center;
}

.team-member {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la imagen y el texto */
    justify-content: center;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bi-person-circle {
    font-size: 80px;
    margin-bottom: 3px; /* Espaciado debajo del ícono */
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 10px;
}

.accordion-button {
    background-color: #4fc;
    color: #000;
}



/*Menu de Log in*/

.card {
    width: 550px;
}

.form-control {
    width: 300px;
}

.body-login {
    background-color: rgb(222, 225, 226);
}

.login-form {
    border: none;
    border-radius: 60px;
    box-shadow: 0 0 20px #444;
    background-color: rgb(222, 225, 226);
}




/*Menu de registr*/

.body-registro {
    background-color: rgb(222, 225, 226);
}

.registro-form {
    background-color: rgb(222, 225, 226);
    box-shadow: 0 0 15px #444;
}